$background-color: #f2e8d5;
$border-radius: 10px;
html,
body {
  background: $background-color;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}

.weather {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: calc(10px + 5vmin);
  color: #888;
  padding: 9vmin;
  outline: none;
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-family: Helvetica, Arial;
  resize: none;
}

.submitContainer {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  $help-size: 1.5rem;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;

  summary::-webkit-details-marker {
    display: none;
  }

  summary {
    display: inline-block;
    width: $help-size;
    height: $help-size;
    text-align: center;
    color: #ccc;
    border: 2px solid #ccc;
    font-size: 110%;
    line-height: calc(#{$help-size} + 0.1rem);
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    font-family: Ariel, sans-serif;
    font-weight: bold;
    vertical-align: middle;
  }

  button {
    display: inline-block;
    background: #e0c89b;
    color: #3d3527;
    border: none;
    padding: 0.2rem 1rem 0.3rem;
    border-radius: 1.4rem;
    font-size: calc(1rem + 2vmin);
    vertical-align: bottom;
    margin: calc(1rem + 0.5vmin);
    white-space: nowrap;
  }
}

.meta {
  display: flex;
  align-items: end;
  margin: calc(1rem + 0.5vmin);
  font-size: calc(0.5rem + 2vmin);
}

.locationKnown,
.locationUnknown {
  cursor: pointer;
}

.locationUnknown {
  text-decoration: underline;
}

$dialog-background: #fff;

.submitContainer {
  details {
    position: relative;
  }

  details[open]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    background: $dialog-background;
    transform: rotate(45deg);
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: calc(50% - 0.5rem);
  }
}

.dialog {
  position: absolute;
  bottom: calc(100% + 1rem);
  width: 16rem;
  height: auto;
  max-height: 80vh;
  right: calc(-4vmin - 6rem);
  background: $dialog-background;
  padding: 1rem;
  border-radius: $border-radius;
  box-sizing: border-box;

  blockquote {
    margin: 0;
    > p {
      padding-left: 1rem;
      border-left: 4px solid #333;
      margin: 0 0 0.5rem 0;
    }
    > cite {
      font-size: 0.8rem;
      margin: 0 0 1rem auto;
      max-width: 60%;
      text-align: right;
      display: block;
    }
  }
}

.location {
  display: inline;
  position: relative;
  p:first-child {
    margin-top: 0;
  }
  > div {
    position: absolute;
    width: calc(80vw - 2rem);
    max-width: 15rem;
    bottom: calc(100% + 1rem);
    background: #fff;
    padding: 1rem;
    font-size: 1rem;
    border-radius: $border-radius;
    &::after {
      content: "";
      width: 1rem;
      height: 1rem;
      transform: rotate(45deg);
      position: absolute;
      bottom: -0.5rem;
      background: #fff;
    }
  }
}

.locationText {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.locationInput {
  display: block;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.successIndicator {
  animation-name: explode;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-play-state: running;
  background: green;
  color: #fff;
  display: block;
  width: 20vmin;
  height: 20vmin;
  position: absolute;
  top: calc(50% - 10vmin);
  left: calc(50% - 10vmin);
  border-radius: 50%;
  line-height: 20vmin;
  font-size: 15vmin;
  text-align: center;
  padding-top: 2vmin;
  box-sizing: border-box;
  font-family: monospace;
  pointer-events: none;
}

@keyframes explode {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(8);
    opacity: 0;
  }
}
